{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}


	<div class="jumbotron">
		<h1 class="display-3">Page d'accueil du site</h1>
		<p class="lead">Bienvenue sur le projet</p>
		<hr class="my-4">
	</div>
	<h2>Les Meilleures Annonces</h2>
	<div class="row mt-5">
		{% for i in 1..4 %}
			<div class="col-md-4">
				<div class="card mb-3">
					<img src="https://picsum.photos/200/200" class="img-fluid" alt="Image du produit">
					<div class="card-body">
						<h4 class="card-title">Titre de l'annonce n.{{ i }}</h4>
						<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, iste.</p>
						<p class="card-text">
							{% for i in 1..5 %}
								<i class="fas fa-star"></i>
							{% endfor %}
						</p>
						<p class="card-text">20 &euro;</p>
						<a href="#" class="btn btn-primary">En savoir plus !</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
