<footer
	class="page-footerbg-light text-center text-lg-start">
	<!-- Copyright -->
	<div class="text-center p-3" style="margin-top: 100px; background-color: #35c5d4; color:white;">
		© 2021 Copyright: Swapcar
	</div>
</footer>
