<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Swapcar
			{% endblock %}
		</title>

		{% block stylesheets %}
			<link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"/>
		{% endblock %}

		<link rel="stylesheet" href="{{ asset('css/style.css') }}">


		<script src="https://cdn.jsdelivr.net/npm/axentix@1.2.1/dist/js/axentix.min.js"></script>
		{% block javascripts %}{% endblock %}
		<script src="{{ asset('js/scripts.js') }}"></script>
	</head>
	<body style="background-color: white;">
		{% include "partials/_navbar.html.twig" %}
		<div class="container pt-5"> {% block body %}{% endblock %}
			</div>
		</body>
		{% block footer %}
			{% include "partials/_footer.html.twig" %}
		{% endblock %}

	</html>
