{% extends "base.html.twig" %}

{% block title %}
	Resultat
{% endblock %}

{% block body %}
	<h1>Annonces disponibles pour la période du:
	</h1>

	<ul>
		{% for libre in libres %}
			<pre>
			{{ dump(libre.title) }}
		</pre>
		{% endfor %}
	</ul>


{% endblock %}
