{% extends 'base.html.twig' %}

{% block title %}Rechercher une annonce
{% endblock %}


{% block body %}
	<div class="container mt-5">
		<h1>Rechercher une annonce</h1>

		<div>
			{{ form(formulaire) }}
			</div>

		</div>


	{% endblock %}
